<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title m-auto" id="exampleModalLabel">Select task list</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="p-1">
          <a href="/">Main</a>
        </p>
        <% listItem.forEach(function(item, index) { %>
            <p class="p-1 align-self-end">
              <a href="/list/<%= item.name %>"><%= item.name %></a>
                  <a href="/deleteList/<%= item.name %>"><span class='bi bi-trash'></span></a>
            </p>
        <% }); %>
      </div>
      <div class="modal-footer container-fluid">
          <!-- <button type="button" class="btn btn-primary w-auto mx-auto">Add new task list</button> -->
          <form class="item mx-auto" action="/newList" method="post">
            <input type="text" name="newItem" placeholder="type new list name" tabindex="-1" autocomplete="off" autofocus>
            <button class="add" type="submit" name="list" value="<%= listTitle %>">add</button>
          </form>
      </div>
    </div>
  </div>
</div>
